# Default ignored files
/shelf/
/out/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\mateu\Desktop\psk\moje\Semestr 5\Programowanie Współbieżne\ConcurrentProgramming\lab14\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
